Automatic-App-Secret-Rotation.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowDefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "evaluatedRecurrence": {
                    "frequency": "Month",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        },
        "actions": {
            "Get_Client_Secret_From_KeyVault": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://YourKeyVaultName.vault.azure.net/secrets/YourRotationAppSecret?api-version=7.4",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://vault.azure.net"
                    }
                }
            },
            "Get_Access_Token": {
                "runAfter": {
                    "Get_Client_Secret_From_KeyVault": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://login.microsoftonline.com/YourTenantID/oauth2/v2.0/token",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "grant_type=client_credentials&client_id=YourRotationAppID&client_secret=@{body('Get_Client_Secret_From_KeyVault')?['value']}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default"
                }
            },
            "For_each": {
                "foreach": "@parameters('appRegistrations')",
                "actions": {
                    "Get_Current_Secrets": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{concat('https://graph.microsoft.com/v1.0/applications/', items('For_each')?['appObjectId'])}",
                            "method": "GET",
                            "headers": {
                                "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}"
                            }
                        }
                    },
                    "Add_New_Client_Secret": {
                        "runAfter": {
                            "Get_Current_Secrets": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "@{concat('https://graph.microsoft.com/v1.0/applications/', items('For_each')?['appObjectId'], '/addPassword')}",
                            "method": "POST",
                            "headers": {
                                "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}",
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "passwordCredential": {
                                    "displayName": "Auto-rotated secret",
                                    "endDateTime": "@{addDays(utcNow(), 60)}"
                                }
                            }
                        }
                    },
                    "Store_New_Secret_In_KeyVault": {
                        "runAfter": {
                            "Add_New_Client_Secret": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "@{concat('https://YourKeyVaultName.vault.azure.net/secrets/', items('For_each')?['targetSecretName'], '?api-version=7.4')}",
                            "method": "PUT",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "value": "@{body('Add_New_Client_Secret')?['secretText']}"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://vault.azure.net"
                            }
                        }
                    },
                    "Filter_Old_Secrets": {
                        "runAfter": {
                            "Add_New_Client_Secret": [
                                "Succeeded"
                            ]
                        },
                        "type": "Query",
                        "inputs": {
                            "from": "@body('Get_Current_Secrets')?['passwordCredentials']",
                            "where": "@and(equals(item()?['displayName'], 'Auto-rotated secret'), not(equals(item()?['keyId'], body('Add_New_Client_Secret')?['keyId'])))"
                        }
                    },
                    "For_each_Secret_To_Delete": {
                        "foreach": "@body('Filter_Old_Secrets')",
                        "actions": {
                            "Remove_Secret": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@{concat('https://graph.microsoft.com/v1.0/applications/', items('For_each')?['appObjectId'], '/removePassword')}",
                                    "method": "POST",
                                    "headers": {
                                        "Authorization": "Bearer @{body('Get_Access_Token')?['access_token']}",
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "keyId": "@{items('For_each_Secret_To_Delete')?['keyId']}"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Filter_Old_Secrets": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    }
                },
                "runAfter": {
                    "Get_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach",
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            }
        },
        "parameters": {
            "appRegistrations": {
                "defaultValue": [
                    {
                        "appObjectId": "App1ObjectID",
                        "targetSecretName": "App1SecretName"
                    },
                    {
                        "appObjectId": "App2ObjectID",
                        "targetSecretName": "App2SecretName"
                    }
                ],
                "type": "Array"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {}
        }
    }
}
